/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Page Layout */
.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 40px;
}

/* Left Section */
.auth-left img {
  max-width: 100%;
}

/* Right Section */
.auth-right {
  width: 100%;
  max-width: 400px;
}

.auth-right h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.auth-right p {
  color: #666;
  margin-bottom: 20px;
}

/* Form */
.auth-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  background-color: #0a7d8c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.secondary-btn {
  width: 100%;
  padding: 12px;
  border: #0a7d8c;
  color:#0a7d8c ;
  border: #0a7d8c;
  font-style: none;
  border-radius: 6px;
  cursor: pointer;
}

.google-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

/* Footer Text */
.auth-footer {
  margin-top: 20px;
  text-align: center;
}

.auth-footer a {
  color: #0a7d8c;
  text-decoration: none;
}

/* Mobile Responsive */
/* @media (max-width: 768px) {
  .auth-page {
    flex-direction: column;
    gap: 40px;
  }
} */


.footer {
  background: linear-gradient(180deg, #020b23, #020b23);
  color: white;
  padding: 60px 80px 20px;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.footer h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer a,
.footer p {
  display: block;
  color: #bfc6d1;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 14px;
}

.footer a:hover {
  color: white;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons span {
  width: 32px;
  height: 32px;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}


.footer-bottom {
  border-top: 1px solid #1c2540;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #8892a6;
}


@media (max-width: 900px) {
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-top {
    grid-template-columns: 1fr;
  }
}

